html
    head
        title Page d'Accueil'
        include default.pug
    body
        include nav.pug
        div.accueil
            h1  BIENVENUE SUR FARKLE
            img(src='/img/dice.jpg', id='die1')
