div(class="vertical-menu")
  div(class="vertical-nav" id="sidebar")
    div(class="py-4 px-3 mb-4")
    p(class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0") Menu

    ul(class="nav flex-column  mb-0")
      if user 
          if user.isAdmin==false
            li.nav-item
              a(href="/" class="nav-link") Accueil
            li.nav-item
              a(href="/game" class="nav-link ") Jouer
            li.nav-item
              a(href="/edit" class="nav-link ") Mon profil
            li.nav-item
              a(href="/signout" class="nav-link ") Déconnexion

          if (user.isAdmin == true)
            li.nav-item
              a(href="/" class="nav-link") Accueil
            li.nav-item
              a(href="/admin" class="nav-link ") Admin
            li.nav-item
              a(href="/game" class="nav-link ") Jouer
            li.nav-item
              a(href="/edit" class="nav-link ") Mon profil
            li.nav-item
              a(href="/signout" class="nav-link ") Déconnexion

      else if !user
        li.nav-item
          a(href="/" class="nav-link") Accueil        
        li.nav-item
          a(href="/signin" class="nav-link ") Se connecter
        li.nav-item
          a(href="/signup" class="nav-link") S'inscrire

