html
    head
        title Connexion
        include default.pug
    body
        include nav.pug
        div.container
            form.form(action="/signin", method="post")
                if alert && alert.success 
                    div(class="alert alert-success" role="alert") #{alert.message}
                if alert && alert.danger
                    div(class="alert alert-danger" role="alert") #{alert.message}
                h2 Se connecter
                div.form-group
                    label(for="Username") Pseudo
                    input.form-control.border-0(type="text", name="username" placeholder="pseudo" value=(previous && previous.username || ''))
                div.form-group    
                    label(for="password") Mot de passe
                    input.form-control.border-0(type="password", name="password" placeholder="Password" value=(previous && previous.password || ''))
                div.form-group    
                    input(type="submit", class="btn btn-dark btn-lg btn-block" value="Valider")                    